/* 主容器 */
.container {
  margin: auto;
  height: 100vh;
  width: 90%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: #051e23;
  color: #eeeeee;
  position: relative;
}
/* 主要界面 */
.main-content {
  /* display: none; */
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.main-content .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-content .top .top-button {
  margin: 20px;
  color: #4f6058;
}
.main-content .top .top-button:hover,
.main-content .bottom .user-input .user-button:hover {
  background-color: #eeeeee;
  color: #051e23;
}
.main-content .middle {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.main-content .middle p {
  font-size: 80px;
  font-weight: 800;
}
.main-content .middle .result {
  margin-top: 15px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  border: 5px solid rgb(0, 141, 108);
  border-radius: 10px;
  padding: 10px;
}
.main-content .bottom {
  margin-top: 30px;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main-content .bottom .user-input {
  display: flex;
  flex-direction: column;
  align-self: top;
}
.main-content .bottom .user-input .user-input-area {
  height: 100px;
  width: 200px;
  background-color: #051e23;
  border: 5px dashed #12d7b0;
  border-radius: 10px;
  margin-bottom: 10vh;
  color: #eeeeee;
  font-size: 40px;
  padding: 10px;
  text-align: center;
}
.main-content .bottom .user-input .user-input-area:hover {
  cursor: pointer;
}
.main-content .bottom .user-input .user-button-area {
  display: flex;
  justify-content: space-around;
}
.main-content .bottom .user-input .user-button-area .user-button {
  color: #4f6058;
}
.main-content .bottom .record {
  border: 1px solid #12d7b0;
  border-radius: 5px;
  padding: 10px;
  height: 30vh;
  overflow-y: auto;
  scrollbar-width: none;
}
.author-info {
  display: none;
  width: 100%;
  border-top: 1px solid black;
  text-align: center;
}
.info-box {
  position: absolute;
  background-color: #12d7b0;
  height: 100vh;
  width: 100%;
  color: #051e23;
  padding: 10px;
  padding-top: 30px;
  font-size: 18;
  border: 3px solid #b0ffd9;
  border-radius: 10px 0px;
}
.info-box button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #4f6058;
  background-color: #0da889;
}
.rule {
  display: none;
}
.history-record {
  display: none;
  overflow-y: auto;
  scrollbar-width: none;
}
.number-key {
  display: none;
  /* display: flex; */
  position: absolute;
  background-color: #12d7b0;
  height: 40vh;
  width: 100%;
  color: #051e23;
  flex-direction: column;
  justify-content: space-around;
}
.number-key ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.number-key ul li {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  height: 50px;
  line-height: 50px;
  width: 18%;
  text-align: center;
  background-color: #0da889;
  border: 1px solid #051e23;
  border-radius: 10px;
}
.number-key ul li:hover {
  cursor: pointer;
}
.number-key ul .clicked {
  background-color: #051e23;
  color: #eee;
}
.number-key button {
  border: 1px solid #051e23;
  background-color: #0da889;
}
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .main-content .middle p {
    font-size: 60px;
    font-weight: 700;
  }
  .main-content .bottom .user-input {
    width: 40vw;
  }

  .main-content .bottom .user-input .user-input-area {
    height: 50px;
    width: 100px;
    margin-bottom: 10px;
    font-size: 30px;
    padding: 5px;
  }
  .main-content .bottom .user-input .user-button-area {
    flex-direction: column;
  }
  .main-content .bottom .user-input .user-button-area .user-button {
    height: 60px;
    width: 100px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .main-content .bottom .record {
    padding: 5px;
    font-size: smaller;
  }
}
